@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">This is a website I've designed to showcase examples of skills I've picked up.</p>
</div>

<script>

</script>